@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.detailsnavbar{
    display: flex;
    background-color: #e2d0bd;
    padding:10px 20px;
    position:sticky;
    text-align: right;
    position: sticky;
    top: 0%;
}
.detailsnavbar ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    margin-right: 0%;
    margin-top: 8px;
}
.detailsnavbar li{
    width: 170px;
    display: inline-block;
    font-size: 20px;
    text-align: right;
}
.detailsnavbar li :hover{
    color: beige;
    width: 150px;
    display: inline-block;
    font-size: 20px;
    text-align: right;
}
.backimage{
    height: 90.6vh;
}