@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.redirectlink {
    text-decoration: none;
    color: black;
    position: relative;
    background-color: white;
    text-align: left;
    display: block;
    width: 400px;
    min-height: 200px;
    padding: 30px;
    border: 1px solid white;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
    left: 3%;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
}
h4{
    margin: 0%;
}
p{
    font-size: smaller;
}

.mapping{
    margin-top: 40px;
    display: grid;
    /* grid-template-columns: [first] auto [line2] auto [line3] auto [col4-start] auto [five] auto [end]; */
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2,1fr);
    gap: 35px;
    
}
.background{
    background-color: floralwhite;
}
.quotation{
  text-align: center;
  position: absolute;
  color: rgb(108, 17, 17);
  left: 100px;
  right: 100px;
  top: 200px;
  font-weight: 550;
  font-size: xx-large;
  text-shadow: 1px 1px #e2d0bd;
}
.reservation{
    grid-column: 2/3;
    align-items: flex-end;
}
.rooms{
    grid-column: 2/3;
}
.parallax {
    background-image: url("../images/image2.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
  }
#logos{
    width: 50px;
}
.betweenbar{
    left: 300px;
    background-color: #e2d0bd;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
    padding: 15px 20px;
    position:sticky;
    top: 0%;
    z-index: 1;
    max-width: 900px;
    bottom: 220px;
   
}
.betweenbar ul{
    white-space: nowrap;
    max-width: 800px;
    margin: 0 auto;
    padding: 0%;
}
.betweenbar li{
    width: 25%;
    display: inline-block;
    font-size: 20px;
    text-align: center;
}
#img{
    max-width: 100%;
}

.betweenbar li :hover{
    color: black;
}

/* image slide show */

.imagegallery{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  margin-left: 50px;
  justify-content: center;
  margin-top: 50px;
}
.imagesgal{
  width: 600px;
  height: 300px;
}
#gallery{
  font-size: x-large;
  font-weight: 600;
  margin-left: 50px;
}

  /* Events */
  .eventshome{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(2,1fr);
      column-gap: 40px;
      row-gap: 20px;
      padding: 48px;
      padding-top: 37px
  }
  .datelogo{
    border: 7px solid #e2d0bd;
    border-color: #e2d0bd;
    background-color: #e2d0bd;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    width: 150px;
    height: 130px;
    font-size: 40px;
    text-align: center;
    font-weight: 850;
    color:rgb(111, 55, 55) ;
    border-radius: 6px;
  }
  .event{
      display: flex;
  }
  .eventcontent{
      padding: 20px;
  }
  .eventheading{
    font-size: x-large;
    font-weight: 600;
    margin-left: 50px;
    margin-top: 53px;
  }
  /* services */

 .services{
  font-size: x-large;
  font-weight: 600;
  margin-left: 65px;
  margin-top: 50px;
  margin-bottom: 0%;
 }

  section {
    height: 85vh;
    width: 100%;
    display: grid;
    place-items: center;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #e2d0bd 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
  }
  p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .icon-wrapper {
    background-color: #e2d0bd;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .card:hover {
    background-position: 0 100%;
  }
  .card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #e2d0bd;
  }
  .card:hover h3 {
    color: rgb(111, 55, 55);
  }
  .card:hover p {
    color:rgb(111, 55, 55);
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 0 2em;
    }
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em 3em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
  /* support */

  .contains{
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-left: 120px;
  }
  .contains .contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contains .contents .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
    
  }
  .contents .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .contents .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .contents .left-side .details i{
    font-size: 30px;
    color: rgb(111, 55, 55);
    margin-bottom: 10px;
  }
  .contents .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .contents .left-side .details .text-one,
  .contents .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }
  .contains .contents .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .contents .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: rgb(111, 55, 55);
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: rgb(111, 55, 55);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"]:hover{
    background: rgb(111, 55, 55);
  }
  
  @media (max-width: 950px) {
    .container{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container .contents .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .container .contents{
      flex-direction: column-reverse;
    }
   .container .contents .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .contents .left-side::before{
     display: none;
   }
   .container .contents .right-side{
     width: 100%;
     margin-left: 0;
   }
  }
  /* support button */
  .sendnow{
    background-color: rgb(111, 55, 55);
    color: #fff;
    border: 1px solid white;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
    padding: 15px 20px;
  }
  .sendbutton{
    padding: 20px 40px;
    letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
  }
  