@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.guestnavbar{
    display: flex;
    background-color: #e2d0bd;
    padding: 20px;
    position:sticky;
    text-align: right;
    position: sticky;
    top: 0%;
    
    
}
.guestnavbar ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    margin-right: 0%;
    margin-top: 8px;
}
.guestnavbar li{
    width: 150px;
    display: inline-block;
    font-size: 20px;
    text-align: right;
}
.guestnavbar li :hover{
    color: beige;
    width: 150px;
    display: inline-block;
    font-size: 20px;
    text-align: right;
}
