button{
  padding: 20px;
  margin: 2px;
  border-radius: 15px;
  width: 60px;
}
/* button:hover{
  background-color: rgb(140, 218, 140);
  color: white;
} */
button:active{
  background-color: green;
  color : white;
}
.Clear:active{
  background-color: red;
  color : white;
}
.button{
  padding: 0px 50px;
  text-align: center;
}
.result{
  padding: 0px 50px;
  text-align: center;
}
input{
  width: 250px; 
  height: 50px;
  border-radius: 15px;
  font-size: large;
}
h1{
  text-align: center;
}