body{
    margin: 1;
    padding: 1;
    font-family: sans-serif;
    background: #b5fff9;
  }
  #title{
    text-align: center;
    font-weight: bolder;
    font-style: oblique;
    border: 5px solid black;
    border-radius: 20px;
  }
  .box input[type="text"],.box input[type="address"],.box input[type="email"], .box input[type="number"]{
    background: none;
    display: block;
    text-align: left;
    border: 2px solid #3498db;
    padding: 8px 6px;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type="text"]:focus,.box input[type="address"]:focus,.box input[type="email"]:focus, .box input[type="number"]:focus{
    width: 280px;
    border-color: #2ecc71;
  }
  #submit{
    background: none;
    margin-top: 10px;
    width: 100px;
    text-align: center;
    border: 2px solid #3498db;
    padding: 4px 2px;
    border-radius: 24px;
    cursor: pointer;
    font-weight: bolder;
  }
  .f1{
    border: 5px solid black;
    border-radius: 10px;
  }
  .f2,.f3,.f4{
    border:5px solid black;
    margin-top: 10px;
    border-radius: 10px;
  }