.logoutman{
    position: relative;
    text-decoration: none;
    color: white;
    left: 85%;
    padding: 5px;
   
}
.managerheader{
    padding: 10px;
    top: 10px;
}
.logoutman :hover{
    color: black;
    
}
.managerchangepassword{
    position: relative;
    text-decoration: none;
    color: white;
    left: 83%;
    padding: 5px;

}